<?xml version="1.0" encoding="UTF-8"?>
<suite name="OpenCart Enterprise Suite" data-provider-thread-count="8">

    <listeners>
        <listener class-name="com.framework.hooks.AnnotationTransformer"/>
    </listeners>
    <test name="Regression Execution">
        <classes>
            <class name="com.framework.runners.TestNGRunner"/>
        </classes>
    </test>
</suite>